<div class="DayDetail">
  <div class="DayDetail__head">
    <button [routerLink]="['/']" class="DayDetail__backBtn">
      <img src="/assets/icons/cancel.png" />
    </button>
  </div>

  <article class="DayDetail__content">

    <div class="DayDetail__contentInner">
      <div class="DayDetail__type">
        <label>{{data.type}}</label>
      </div>

      <h3 class="DayDetail__date">
        <span>{{data.date | date:'MM.dd'}}</span>
        <label *ngIf="data.is_lunar">(음력 4월 8일)</label>
      </h3>
      <h1 class="DayDetail__title">{{data.title}}</h1>
    </div>

  </article>

  <div class="DayDetail__description">
    <p>
      {{data.summary}}
    </p>
    <p>
      {{data.content}}
    </p>
  </div>
</div>
